<configuration scan="true" scanPeriod="10 seconds">

    <!-- TODO: Print date to console-->

    <appender name="fout" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>output.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>output_%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>

        <encoder>

            <pattern>%d{yyyy.MM.dd HH:mm:ss} [%t] %p %c %m%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="fout" />
    </root>
	
	<logger name="software.amazon.awssdk.core.interceptor.ExecutionInterceptorChain" level="info"/>
	<logger name="software.amazon.awssdk.http.apache.internal.conn.IdleConnectionReaper" level="info"/>
	<logger name="software.amazon.awssdk.auth.signer.Aws4Signer" level="info"/>
	<logger name="software.amazon.awssdk.http.apache.internal.conn.SdkTlsSocketFactory" level="info"/>
	<logger name="software.amazon.awssdk.http.apache.internal.net.SdkSslSocket" level="info"/>
</configuration>